.minHeight {
    min-height: 100vh;
}

.parentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.childContainer {
    width: 50%;
    height: 50%;
}

.appOrange {
    color: 	#f58549;
}